body{

    width: 100%;
    margin: 0px;
    padding: 0px;
}
*{
    margin: 10px;
    padding: 10px;
}

.general{
    
    display: flex;
    
    flex-flow: column nowrap;

}

.header{
    background:white;
    display: flex;
    flex-flow: column nowrap;
}
    .container{
            
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
    }
    .item1{
        
        flex: 1 1 auto;
    }
    .item2{
        
        display: flex;
        justify-content:space-around;
        flex: 5 1 auto;
        

    }
    .item3{
        display: flex;
    
        justify-content: end;
        
        flex: 1 1 auto;

    }

    .container2{ 
            display: flex;
            align-items:flex-end;
            background: url(../images/header.jpg);
            background-position: center;
            background-attachment:contain;
            background-size: cover;
            height: 300px;
            justify-content: center; }
       .item4{
        display: flex;
        margin-bottom: 45px;
        font-size: 150%;
        opacity: 1;
        color:orangered;
        justify-content: center;
        opacity: .6;
        

        }
        h2{
            text-align: left;
            margin-left: 30px;
            background-color:#F08080;
            color:white;
            padding:10px 10px 0px 10px;
            width:80%;
            margin-top:4px;
        }
        p{
            display: flex;
            text-align: left;
            margin: 0px;
        }
       
.section{
    
    background:white;
    display: flex;
    
    
    
}
    .container3{
        background-color:rgb(105, 105, 105);
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        margin-right: 0px;
        
    }
    .articulo1{
        display: flex;    

    }

    .articulo2{
        display: flex;
    }
    .articulo3{
        display: flex;
    }

    .articulo4{
        display: flex;
    }
    .item5 img{
        margin-left: 0px;
        width:83%;
        padding: 0px 0px 5px 0px;
    }
        .item5{
            background-color:white;
            border: solid 10px #808080;
            flex: 1 1 40%;
            padding: 0px;
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;

        }
        .item6{
            background-color:transparent;

            flex: 1 1 100%;
        }
    
    .container4{
        background-color:grey;
        flex: 1 1,5 auto;
           
    
    }
        .item7{
            background-color:grey;
            
            
        }

.footer {
    background: #000;
}
    .item8{
        background-color:gold;
    }

@media all and (max-width: 800px){

    .section{
        flex-direction: column;

    }
    .container{
        flex-direction:column;
        height:auto;    
    }
}

@media all and (max-width: 600px){


    .container3{
        flex-direction: column;

    }
    .container{
        flex-direction:column;
        height:auto;    
    }

@media all and (max-width:400px){
    
    .menu{
       flex-direction: column;
       

   }

   .container{
    flex-direction:column;
    height:auto;    
}


}
}