*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.general{

    display: flex;
    flex-flow: column nowrap;

}

.header{
    background:white;
    display: flex;
    flex-flow: column nowrap;
}
    .container{
            
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
        
        
    }
    .item1{
        
        flex: 1 1 auto;
    }
    .item2{
        
        display: flex;
        justify-content:space-around;
        flex: 5 1 auto;
        

    }
    .item3{
        display: flex;
    
        justify-content: end;
        
        flex: 1 1 auto;

    }

    .container2{ 
            display: flex;
            align-items:flex-end;
            background: url(../images/header.jpg);
            background-position: center;
            background-attachment:contain;
            background-size: cover;
            height: 300px;
            justify-content: center; }
       .item4{
        display: flex;
        margin-bottom: 45px;
        font-size: 150%;
        opacity: 1;
        color:orangered;
        justify-content: center;
        opacity: .6;
        

        }

.section{

    background: #000;
    display: flex;
}
    .container3{
        display: flex;
        background-color:rgb(60, 86, 124);
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
        .item5{
            background-color:rgb(61, 122, 214);
            width: 20px ;
            flex: 1 1 40%;

        }
        .item6{
            background-color:rgb(131, 174, 240);
            flex: 1 1 100%;
        }
    .container4{
        background-color:rgb(230, 73, 73);
        flex: 1 1 auto;
    }
        .item7{
            background-color:rgb(245, 248, 80);
        }

.footer {
    background: #000;
}
    .item8{

        
        background-color:gold;
    }

@media all and (max-width: 800px){

    .section{
        flex-direction: column;

    }
}

@media all and (max-width: 600px){
    .container3{
        flex-direction: column;

    }

}

